*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #000;
	--color-bg: #d8d8d8;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}




@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
 

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
 
.content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.ui-controls {
	position: relative;
	width: 100%;
	max-width: 500px;
	font-family: inherit;
	user-select: none;
	line-height: 1.5;
	padding: 10px;
	pointer-events: none;
}

.score {
	font-weight: bold;
}

.ui-controls #score-result {
	display: inline-block;
	min-width: 1.8em;
	color: #d45f2e;
}
.ui-controls #score-result:after {
	content: "\200b";
}
.ui-controls #roll-btn {
	background-color: #273e9a;
	font-weight: bold;
	color: #ffffff;
	border: none;
	padding: 1em 1.5em;
	border-radius: 1.5em;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 2em 0 0 0;
	transition: background-color 0.2s, transform 0.1s;
	pointer-events: auto;
}
.ui-controls #roll-btn:active {
	transform: translateY(2px);
}
.ui-controls #roll-btn:hover {
	background-color: #3737af;
}